body {
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: #000;
  color: #fff;
  background-image: url("lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-top: 50px;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 2px;
  color: rgba(132, 9, 132, 0.679);
}

#board  {
  width: 410px;
  height: 410px;
    border: 2px solid whitesmoke;
  background-color: #222;
  margin: 1 auto;
  display: flex;
  grid-template-columns: repeat(8, 1fr);
  padding: 10px;
  box-shadow: 0 0 25px rgb(244, 248, 250);
  flex-wrap: wrap;

}

#board div {
  width: 45px;
  height: 45px;
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  transition: background-color 0.4s, transform 0.2s;
  border: 2px solid whitesmoke;
  margin-right: 3px;
}

#board div:hover {
  background-color: rgb(105, 48, 141);
  transform: translateY(-5px);
}

.tile-clicked {
  background-color: #958b8b97;
  color: #fff;
  font-weight: bold;
}

.x1, .x2, .x3, .x4, .x5, .x6, .x7, .x8 {
  color: white;
}



button {
  width: 130px;
  height: 45px;
  font-size: 16px;
  background: linear-gradient(to right, #666666, #000000);
  border: none;
  border-radius: 30px;
  margin-top: 25px;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.7s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: linear-gradient(to right, #115d93, #c710f5);
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}